<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="principal.android.utp.proyecto">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Principal">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Alumno" />
        <activity android:name=".Alumno_Cursos" />
        <activity android:name=".Alumno_Horario" />
        <activity android:name=".Alumno_Notas" />
        <activity
            android:name=".Docente"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Docente_Cursos"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Docente_Curso_Seccion"
            android:parentActivityName=".Docente_Cursos"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Docente_Cursos" />
        </activity>
        <activity
            android:name=".Docente_Horario"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Lista_Alumnos"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".docente_curso_sec"
            android:label="@string/title_activity_docente_curso_sec"
            android:parentActivityName=".Docente_Cursos"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="principal.android.utp.proyecto.Docente_Cursos" />
        </activity>
    </application>

</manifest>